body {
padding: 0;
 background: linear-gradient(120deg,#dcdde1, #bdc3c7);
}
#name {
	font-family: "montserrat", sans-serif;
	text-decoration: underline;
	text-align: center;
	border: 3px solid;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	padding: 10px;
	animation: name 1.9s ease;
	display: flex;
}
#options {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex; 
}
#options img {
	margin: 15px;
	cursor: pointer;
	position: relative;
}
#img1 {
	animation: img1 0.8s ease-in-out;
	animation-delay: 0.1s;
}
#img2 {
	animation: img2 0.8s ease-in-out;
	animation-delay: 0.2s;
}
#img3 {
	animation: img3 0.8s ease-in-out;
	animation-delay: 0.3s;
}
#img1:hover {
	transform: scale(1.1);
	transition: transform 0.4s;
}
#img2:hover {
	transform: scale(1.1);
	transition: transform 0.4s;
}
#img3:hover {
	transform: scale(1.1);
	transition: transform 0.4s;
}
@keyframes name {
    from {
        transform: translate(-50%,50%);
        opacity: 0;
    }
    to {
				opacity: 1;
    }
}
@keyframes img1 {
	from {
		transform: translateY(50%);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes img2 {
	from {
		transform: translateY(50%);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes img3 {
	from {
		transform: translateY(50%);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* ---------------------------------Style will be added soon ---------------------------------*/